<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
         <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
         <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        
    </head>
    <body>
            <canvas id="temperatureChart" width="600" height="400"></canvas>
            <script>
                function generateRandomTemperature() {
                    var request = new XMLHttpRequest();
                    request.open('GET', 'check', false);  // `false` makes the request synchronous
                    request.send(null);
                    if (request.status === 200) {// That's HTTP for 'ok'
                        return request.responseText;
                    }
                }

                function updateChartData(chart) {
                    const temperature = generateRandomTemperature();
                    console.log('Температура на датчике:', temperature);
                    const newDataPoint = generateRandomTemperature();
                    const currentData = chart.data.datasets[0].data;
                    currentData.shift();
                    currentData.push(newDataPoint);
                    const currentLabels = chart.data.labels;
                    const lastLabelNumber = parseInt(currentLabels[currentLabels.length - 1]);
                    const newLabel = `${lastLabelNumber + 1}`;
                    currentLabels.shift();
                    currentLabels.push(newLabel);
                    chart.update(); // Update the chart
                }

                var ctx = document.getElementById('temperatureChart').getContext('2d');

                var data = {
                    labels: Array.from({ length: 7 }, (_, i) => `${i + 1}`),
                    datasets: [{
                        label: 'Temperature',
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1,
                        data: Array.from({ length: 7 }, () => generateRandomTemperature())
                    }]
                };
                var options = {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                };

                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: data,
                    options: options
                });
                setInterval(function() {
                    updateChartData(myChart);
                }, 6000);
    </script>
    </body>
</html>
